name: Python UI Tests
on: [push]
jobs:
  test:
   runs-on: ubuntu-latest
   steps
   - name: Checkout code
   users: actions/checkout@v3
   - name: set up python
   users: actions/setup-python@v4
   with:
    python-version: '3.10'
  - name: Install dependencies
  run: |
    pip install -r requirements.txt
  - name: Run tests
    run: |
     pytest -v
